[2017-06-13 13:39] jacobbutton opened #1 "Not working with dynamic data."
Component will work with static data but doesn't update with dynamic data loaded via an async call to a service on pageload.

`<ngx-avatar name="{{user.name}}" bgColor="{{user.color}}" size="250"></ngx-avatar>`

`ngOnInit() {
        this.userService.get(this.userId).subscribe( u => { this.user = u; });
}`

[2017-06-14 07:27] HaithemMosbahi commented on #1
Thank you for raising this issue.
I will fix this problem today by adding support to dynamic data and detecting input changes.

[2017-06-17 17:18] #1 closed

[2017-06-17 17:30] HaithemMosbahi commented on #1
I've added change detection to avatar inputs. Now you can provides the avatar with dynamic data.
It took me some time to fix this because the component can work with multiple avatar sources. Thus, a change that occurs in input that represents a source ( facebook, twitter, name initials, etc ) should also update the fallback system.
Also, I've updated the demo application with an example that loads

[2017-06-17 17:35] HaithemMosbahi commented on #1
This bug is fixed on version 1.3.0

[2017-06-17 19:21] jacobbutton commented on #1
Just tried the new version. It's working as expected.

Thank you. Great component.

[2017-06-17 20:23] HaithemMosbahi commented on #1
Great. You're welcome :)

[2017-06-18 12:35] vptcnt opened #2 "Background colour for same text value"
Hi,

It will be nice to have the same color returned for the same text value.

It could be done by calculcing a hash of the value :
(from https://github.com/mumairofficial/text-avatar )

[code]

Vincent

[2017-06-18 14:11] HaithemMosbahi commented on #2
Hello,

I think this is a good idea, I will totally consider it.

[2017-06-18 15:42] #2 closed

[2017-06-18 15:45] HaithemMosbahi commented on #2
I've added this feature in version 1.4.0

Thank you for your collaboration.

[2017-06-24 13:54] HaithemMosbahi opened #3 "Add vkontakte source support"
Add Support to Vk.com ( vkontakte ) as an avatar source

[2017-06-24 15:28] #3 closed

[2017-07-30 02:07] ravtakhar opened #4 "Issue when attempting to build."
Just want to start off by saying that this is absolutely amazing.

Have been using for about a week now it has saved me loads of development time. However, I just recently ran into an issue when attempting to build.

I get the following warning:
WARNING in ./src/$$_gendir/~/ngx-avatar/ngx-avatar.ngfactory.ts
271:44-54 "export 'ɵa' (imported as 'import1') was not found in 'ngx-avatar'

and I get th

[2017-07-30 16:06] HaithemMosbahi commented on #4
Hello, I'm glad this component has been helpful to you.

Thank you for raising this issue, I'm working on it.

[2017-07-31 00:01] #4 closed

[2017-07-31 00:04] HaithemMosbahi commented on #4
Hello,
I've just released a new version ( 2.1.0 ) which fixes issues related to prod and AOT build.

[2017-07-31 00:08] ravtakhar commented on #4
Thanks dude!
Absolutely amazing works. Means a lot!

[2017-08-04 13:51] bhalperin opened #5 "Error when packaging with Webpack"
Hi,

Using version 2.2.0 (latest). I get an error when my app loads:
![image](https://user-images.githubusercontent.com/683900/28971556-0d60c486-7935-11e7-9b99-f3d08263737c.png)

In one of my modules I did:
`import { AvatarModule } from "ngx-avatar";`
`@NgModule({
    imports: [... AvatarModule],`

Using Angular 4.3.0
Webpack (1.13.0) says **Compiled successfully**.

Any idea? Thanks!

[2017-08-04 20:35] HaithemMosbahi commented on #5
Hello,

Is this a regression ? Have you already used a previous version with your current environnement ?
unfortunately I couldn't reproduce your issue. As you can see in the demo folder, there's an angular application that demonstrates some examples of ngx-avatar component. This application use version 4.3.2 of angular and it works as expected.

Do you use angular cli ?

[2017-08-05 04:49] bhalperin commented on #5
Hi,

Not a regression. It's my first experiment using ngx-avatar. I did not check your demo yet, but should to compare. Not using cli. Did you try w/o cli?

[2017-08-05 17:32] HaithemMosbahi commented on #5
No, I did not try using ngx-avatar without Angular CLI.

[2017-08-06 05:51] bhalperin commented on #5
The demo compiles and works well. It also bundles with webpack - probably angular cli default. The difference is that the demo bundle does not include the *import* lines that cause my app to fail. *Import* is unknown to the browser of course.

Any idea would be appreciated. TIA

[2017-08-06 11:17] HaithemMosbahi commented on #5
Could you please share with me your application ? or do you have a link that describes how to create an angular application which uses the same config / bundle as yours.

[2017-08-06 12:52] sweko commented on #5
You can take a look at this - error appears when I import the AvatarModule.
Seems that the angular compiler tries to load the `index.js` file and fails on the `import` syntax.

https://stackblitz.com/edit/angular-jlslsu?file=app%2Fapp.module.ts

[2017-08-06 13:04] bhalperin commented on #5
Yes index.js is the issue. I added babel-loader in webpack config to do the job.

[2017-08-08 22:38] HaithemMosbahi commented on #5
Hi,
I'm sorry for my late reply.
I've just updated my build script and released a new version of ngx-avatar. Could you please check wether the issue is resolved when using version 2.2.1 ?

Thank you

[2017-08-09 00:43] sweko commented on #5
Tnx, it's operational now

[2017-08-09 07:14] HaithemMosbahi commented on #5
Great !

[2017-08-09 07:14] #5 closed

[2017-08-09 17:11] bhalperin opened #6 "Element structure and styling"
Hi,

The element structure that you generate is
[code]
You apply the styling on both ```<div>``` elements, which is unnecessary and creates undesired effects when for instance I set the border gray it renders both ```<div>``` elements with gray border (example below). Applying only on one of them seems the right way to do it.

Also, I think you should give each ```<div>``` a CSS class name to prov

[2017-08-09 21:34] HaithemMosbahi commented on #6
Hi,

Thank you for your suggestions. Yes, I can totally check this out and reorganize the element's style.

[2017-08-10 09:39] sweko opened #7 "Add github avatar provider"
Add a source for GitHub avatar pictures.

[2017-08-10 09:55] HaithemMosbahi commented on #7
Hello,
Yes I can totally consider adding Github for fetching user's avatar. If you need this enhancement ASAP you are very welcome to contribute :)

[2017-08-10 10:01] sweko commented on #7
Yes, I've added it, I'll run some checks and will PR it later.

[2017-08-10 10:05] HaithemMosbahi commented on #7
Great !

[2017-08-10 20:18] sweko opened #9 "Migrate async handling to specific classes"
Right now, the code that handles the async avatar sources is half in the relevant class, i.e. `google.ts`, and half in a method in `utils.ts` (`_extractGoogleAvatar`).
Also, the definition of which sources are async, and which are direct is held in `utils.ts`.

It would be better if that definition, as well as the handling is moved to the relevant class.

[2017-08-10 21:00] HaithemMosbahi commented on #7
Fixed #8
This feature has been included in version 2.3.0

[2017-08-10 21:00] #7 closed

[2017-08-11 10:03] sweko opened #10 "Add a way for the client to manage the default avatar colors"
Currently, the colors for the generated avatars are internal to the application.
While it is possible to use

[code]

to change them, this has a hacky feel to it.
There should be a nicer, more straightforward way to set the avatar colors.

[2017-08-11 19:54] HaithemMosbahi commented on #10
Yes that's a good idea. Actually, when I started the development of ngx-avatar I thought of a default set of colors to fill the avatar when the user does not provide a backgroundColor. Thus, I didn't expect the defaultColors to be consumed and changed by the developer.
I totally agree with you, we should think of a more convenient way to set the default avatar colors.

[2017-08-12 08:24] sweko commented on #10
This is a feature I actually need, as I'll be showing a lot of avatars, most of the generated - so I want them to  have colors that are in line with the overall color scheme of the application.

[2017-08-12 12:03] HaithemMosbahi commented on #10
Yes. I've got an idea that will allow the developer to manage and change the default colors. I will share it with you

[2017-08-12 17:09] HaithemMosbahi commented on #9
This refactoring has been included in version 2.4.0. Async sources are much more cleaner now thanks to @sweko :)

[2017-08-12 17:09] #9 closed

[2017-08-12 17:22] HaithemMosbahi commented on #6
Style was applied twice for initials avatar. I've removed the unnecessary style and kept the style on the host element because it is applied to both types of avatar ( image & text ).
Also, I've added css classes to provide more customization capabilities.
the bug fix and the new css classes will be included in the next version which will be released tomorrow 😃

[2017-08-12 17:22] #6 closed

[2017-08-15 10:11] HaithemMosbahi commented on #10
Hello @sweko,
I have been thinking of passing the array of default colors when you import the AvatarModule. So If you would like to provide your own set of colors, the import of AvatarModule would look like this :
[code]
Something similar to the RouterModule of Angular when we pass the array of routes.
What do you think ?

[2017-08-15 11:49] sweko commented on #10
I like that very much.
Maybe we can make it a configuration object so that we can add other settable properties later?

[2017-08-15 12:30] HaithemMosbahi commented on #10
Yes I agree with you, we will probably need to pass additional informations in the future. I will make it a configuration Object

[2017-08-17 18:02] HaithemMosbahi commented on #10
Hey @sweko
I have just released a new version that has support for overriding avatar option.
Here is an example of how the import of avatar module with your own configuration would look like :

https://github.com/HaithemMosbahi/ngx-avatar/blob/c0380cd027095d15c4b8de92261369bad23e068c/demo/src/app/app.module.ts#L5-L24

Check out the documentation section : Override Avatar Configuration
I am waiting

[2017-08-17 18:02] #10 closed

[2017-08-22 12:23] Shinzah opened #12 "Use HttpClientModule from Angular 4.3+"
Could you use the new Http module from angular 4.3+ @angular/common/http (HttpClientModule) instead of @angular/http (HttpModule) ?

[2017-08-22 22:13] HaithemMosbahi commented on #12
Yes I can totally consider this feature. However, ngx-avatar is intended to be used with angular versions 4.X.X and the new HttpClientModule module requires Angular 4.3 and above.
If my understanding is correct, I think migrating to the new HttpClientModule will cause applications with version < 4.3 to fail.

[2017-09-04 12:24] sweko commented on #10
Tnx, I've just gotten around to updating it, and it works fine.

[2017-10-04 13:38] eforteAdeel opened #13 "Restrict to show 2 characters in avatar"
Is there any option to restrict it to show just 2 characters in avatar?

[2017-10-04 14:35] HaithemMosbahi commented on #13
Hello,
The current version of ngx-avatar component does not have this feature. However, I think that it makes sense to add this restriction as input.
I will implement this feature and release a new version asap

[2017-10-04 22:15] HaithemMosbahi commented on #13
This feature has been added in version 2.8.0.
I just added a new property **initialsSize**  to fix the number of characters for initials avatars.
Here's an example that restricts the avatar to render 2 characters :
[code]

[2017-10-04 22:15] #13 closed

[2017-10-05 05:29] eforteAdeel commented on #13
Thanks.

[2017-11-16 17:45] manniniandrea opened #14 "Add source priority list in AvatarConfig"
It could be very usefull if we could configure the priprity list

[2017-11-20 11:10] HaithemMosbahi commented on #14
Hi,
Yes, I can totally consider adding this feature.
I will work on it and release a new version as soon as I can. If you need this urgently, feel free to make a pull request and I will be happy to merge it, You are very welcome to contribute :)

[2017-11-24 22:51] pabloxn opened #15 "Angular 5"
Can you add support for angular 5 - works fine buts requires a peer of @angular/core@^4.0.0 and @angular/http@^4.0.0

thanks

[2017-11-30 09:53] burakkilic opened #16 "Name should be trimmed"
Hi,

I was setting ngx-avatar's name attribute to my user's Full Name. I get some errors like toUpper case is not a function. Then I realized ngx-avatar splitting the name by whitespace, and some of my users have whitespace in leading in their names. So an error occurs.

Maybe I am the one who should trim the name before saving to the db but also it can be added to the library.

Thank you

[2017-11-30 13:20] HaithemMosbahi commented on #15
Hi,
Yes I will add the support for Angular 5 and release a new version by the end of the week.

[2017-11-30 13:22] HaithemMosbahi commented on #16
Hi,
Thank you for raising this issue. Yes I agree with you, this should be added to the library. I will fix this asap.

[2017-12-02 20:22] #16 closed

[2017-12-07 21:32] tomalex0 opened #17 "name with extra space"
name with extra spaces breaks the  avatar preview, this can be  fixed from  my code if i take care of the extra spaces.
If you can  fix it as part of framework that will be great :)

`<ngx-avatar size="50" name="Haithem Mosbahi " ></ngx-avatar>` - `ending with extra space`
`<ngx-avatar size="50" name="Haithem  Mosbahi" ></ngx-avatar>` -  `extra space between the words`
`<ngx-avatar size="50" name=

[2017-12-19 05:43] manumqln opened #18 "Updating the avatar based on changes happened after initial loading"
I could not get the avatar updated after some changes in the user data. For example, when I load the avatar initially there is no picture which makes it falls back to initials. Later, when a profile picture is added, I need to update the avatar with that image URL. This is not happening now.

Could anyone please help me in getting this done?

Thanks in advance.

[2017-12-20 13:20] HaithemMosbahi commented on #17
Hi,
Thank you for raising this issue. I just published a new version ( 2.9.0 ) which fixes this issue.

[2017-12-20 13:20] #17 closed

[2017-12-20 13:22] HaithemMosbahi commented on #16
Hi,
Sorry for my late reply, I was too busy. I just published a new version ( 2.9.0 ) which includes the commit that fixes this issue

[2017-12-21 05:26] manumqln commented on #18
Could anyone please respond on this ? I am still stuck with this requirement.

[2017-12-21 08:35] HaithemMosbahi commented on #18
Hi,
Could you please share some code so I can reproduce your issue ? Actually, updating avatar data asynchronously is supported. You can check the demo folder, it has an example of getting user initials asynchronously after the first loading.

[2017-12-22 04:29] manumqln commented on #18
`<ngx-avatar [name]="userFullName" [src]="profilePic" size="24" textSizeRatio="2.5" initialsSize="2"></ngx-avatar>`
When the component loads initially there will not be any profile picture. So the initials will be displayed. But the user can upload a picture. I need it to reflect in the ngx-avatar in realtime without refreshing the screen by changing the variable `profilePic` and vice versa. This

[2017-12-22 09:11] manumqln commented on #18
Hope you got the issue now.

[2018-01-03 04:27] manumqln commented on #18
Is there any update on this issue?

[2018-01-05 08:56] bboyz269 commented on #15
Hi, can I ask how the update going? Still have warning of peer dependency of angular @^4.0.0 on `ngx-avatar@2.9.0`.
Thanks!

[2018-01-25 13:34] SoumenDass opened #19 "Visual Studio Code error ngx-avatar has no exported member AvatarModule"
I'm able to use ngx-avatar fine but Visual Studio Code (version: 1.20.0-insider) shows this error:

`[ts] Module '"c:/User/abc/ui/node_modules/ngx-avatar/ngx-avatar"' has no exported member 'AvatarModule'.`

[2018-01-25 16:12] ArthurMauricioDelgadillo commented on #19
Are you sure? I'm using VS code 1.19 and everything is working ok!
Are you importing the AvatarModule ok? Or maybe is a bug in v1.20 in that case you should put your issue in vscode repo

[2018-01-25 19:08] SoumenDass commented on #19
Yes the import is fine because the component is displaying and working correctly. This is the only error "no exported member" error I'm getting. It is possible that this is a VSCode bug - I'll wait if this goes away in their future releases.

[2018-01-25 19:08] #19 closed

[2018-01-30 17:08] ArthurMauricioDelgadillo commented on #18
Same problem here. But in a routing context. Where we reuse a template for show an organization or person avatar and behind its related organizations or people. So for example a company XYZ has 3 company partners (A, B and C). In our app we can see the avatar (logo) of the company XYZ and below its 3 partners, if we click to any of its partners we can see the same structure. But the problem happen

[2018-01-31 03:34] manumqln commented on #18
@ArthurMauricioDelgadillo I could not find a solution yet. Since the issue will impact badly in my project, I am not using this library for the time being.

[2018-02-05 11:14] Dunos commented on #12
Do you plan to update the library for the latest Angular 5 version?

[2018-02-18 20:50] RobertThwaite commented on #18
Here is a quick fix for you.

https://stackblitz.com/edit/ngx-avatar-demo-jqyda6

Simply wrapping module in a div and using a boolean to show and hide it. essentially refreshing the component.

Not nice.... but not a naughty fix.

[2018-02-23 03:53] minuz commented on #18
@manumqln,
You probably should use a service or a store to synchronize the state of the avatar.
From what I read from your issue, it seems like a sync issue that is not the library's responsibility.

I'm assuming you have the avatar in on one component and then the avatar is changed within a user profile, which is in a completely different component.

What I am doing is:
I created a singleton serv

[2018-02-23 05:24] manumqln commented on #18
@minuz Thanks for the well explained solution. I will check this and update.

[2018-03-06 05:04] hemanthsp opened #20 "how to change width and height of the avatar???????????????"
1).avatar .avatar-container{
    height:60px ;
    width: 60px ;
}

2) .avatar .avatar-content{
    height: 60px ;
    width:60px ;
}

which one is correct?

[2018-03-06 15:38] danielnitu commented on #15
Same here! Would be nice to get an update. It works fine, but I get the warning for @angular/core@^4.0.0 and @angular/http@^4.0.0

[2018-03-06 16:33] gabrieltbmaestro commented on #20
You could use the [size]="60" directive directly on ngx-avatar.

[2018-03-07 10:26] hemanthsp commented on #20
nobody likes to put css into html directly right? so give some best solution

[2018-03-07 23:58] minuz commented on #20
@hemanthsp with all due respect, but if you spend 2 min reading the documentation you would find what you are looking for.

In addition, the solution provided by @gabrieltbmaestro is the one described on the library docs.
https://github.com/HaithemMosbahi/ngx-avatar#options

[2018-03-08 04:30] hemanthsp commented on #20
thx bro,this is your lib, i have to follows according to your lib

[2018-03-08 06:56] minuz commented on #20
This is not my lib lol. But I have been using it and I like to contribute whenever I can.

[2018-03-09 06:55] sarfarazansari commented on #12
@HaithemMosbahi you are absolutely right.
but we can make a plan to work this plugin in angular 5 apps. If you agree am ready for a PR

[2018-03-09 11:31] minuz commented on #12
@HaithemMosbahi, Is there any particular reason why you want to keep supporting version 4.x.x?
They are close to release version 6 so it would be interesting to keep the library updated.
In addition, for those users who didn't upgrade to the current version of Angular, they can always keep using an older version of the library. Maybe branch it off to provide specific bug fixes.
Btw, I'm happy to h

[2018-03-19 14:59] HaithemMosbahi commented on #12
@minuz @sarfarazansari I am really sorry for the late reply guys.
I totally agree to upgrade the library to use the latest features of Angular platform. I wasn't active in the last few months due to some personal reasons. Nevertheless I am back now and I am planning to resolve the issues and upgrade the library as soon as possible.

[2018-03-19 16:32] HaithemMosbahi commented on #15
Hi guys,
I am sorry for my (very) late reply. I wasn't active the last few months. I am back now and I am planning to release a new version this week. The new version will be compatible with Angular 5. Afterwards, I will start to make the necessary updates for Angular 6

[2018-04-12 15:14] gamefundas commented on #15
Any chance Angular 5 support is bundled soon.

[2018-04-13 23:52] chadbr commented on #15
also --

We're trying to move from @angular/http (deprecated in v6) to @angular/common/http... unfortunately we're getting this error:

[code]

I'm not sure how you'd be able to create one that's compatible with both... so move forward or?

Thanks, Chad

[2018-04-13 23:56] chadbr commented on #15
Actually it looks like this fork does what is needed:

https://github.com/govi2010/ngx-avatar

Any chance to merge back @HaithemMosbahi ?

[2018-04-20 17:21] gamefundas opened #23 "Fallback to initials for missing image"
Is there a way to fallback to initials in case if the image is missing. In my use case we don't have pictures for all users so the component ends up with an error and missing image.

I can always write something as a precursor to check for existence of valid image prior to initializing ngx-avatar but think it would be better for the component itself to handle this.

Would like to know if this can

[2018-04-25 08:24] bboyz269 opened #24 "Avatar sources priority is incorrect."
Due to the sources are being sorted by their value (`sourceId`) instead of type (`sourceType`). This pull request #21 fixes this.
Please check it out.

[2018-04-30 08:01] pfeigl opened #25 "Add caching which works across components"
Currently ngx-avatar tries to load the same (not available) avatars over and over again, spamming the console and request log with 404s.

It would be very nice, if this component would cache which sources resulted in "Not Found" and not retry them.

Especially as are within a SPA, it's unexpected to get the same errors multiple times.

[2018-05-02 22:41] roger-edesigns opened #26 "Adding of Mistery man in d=404 gravatar"
So much thanks if you add the Mistery man and not a 404 broken image

[2018-05-05 02:15] rbenal commented on #23
This is a good one, I have this problem too, there is a solution ?

[2018-05-05 14:59] gamefundas commented on #23
For now I couldn’t find a way to make the component work. As a work around I used *ngIf to switch between the picture and initials depending on the image being available or not.

[2018-05-17 10:23] brunoboss opened #27 "Not Working with Angular2"
Tried to install in a project that is using Angular2, of course the first error was the use of InjectionToken instead of OpaqueToken, but when changing InjectionToken to OpaqueToken i get "Can't resolve all parameters for AvatarComponent". What's the right branch or the right method in order to use this library with Angular 2 project?

@HaithemMosbahi

[2018-05-17 10:57] HaithemMosbahi commented on #25
I totally agree with. This would be a good feature
I will consider adding a cache system in the next version

[2018-05-17 10:59] HaithemMosbahi opened #28 "Upgrade angular Version"

[2018-05-31 00:40] beeing commented on #28
May also consider upgrading to angular 6, having error below:

[code]

[2018-06-01 05:02] tomgruszowski commented on #28
+1 on the ng6 update, might as well, rxjs compat is a sizable library to keep around.

[2018-06-16 15:48] whizkidwwe1217 opened #30 "Feature to enable loading of the Initials first."
When network is not very fast, the image don't load immediately and the avatar appears blank. Should have a feature that will load the Initials by default and then replace by the src or other sources when loading is complete.

[2018-06-20 17:23] btastic commented on #28
Can we get this PR merged? Should do what we need: https://github.com/HaithemMosbahi/ngx-avatar/pull/29

[2018-07-12 16:40] odahcam commented on #28
@HaithemMosbahi do you need any maintainers?

[2018-07-13 23:23] pabloxn commented on #15
Any chance of a new release soon.

[2018-08-15 07:04] ThaiHM opened #32 "Not working with rxjs 6.0"
Not working with rxjs 6.0.

[2018-08-28 07:13] sarfarazansari commented on #32
@ThaiHM, @HaithemMosbahi , @sweko
am going to create a PR soon, for angular 6 compatible.

[2018-08-29 12:06] sarfarazansari commented on #32
@ThaiHM , @sweko , @HaithemMosbahi
take a look [PR](https://github.com/HaithemMosbahi/ngx-avatar/pull/33)

[2018-08-30 16:10] odahcam opened #34 "Maintence status"
@HaithemMosbahi please add some maintainer if you won't maintain the package anymore, thx.

[2018-09-13 21:53] Cloud925 commented on #32
any update on this?

[2018-09-14 16:57] mhosman commented on #32
Same issue here!

[2018-09-15 09:23] Cloud925 opened #35 "App.Module import not working"
Hi,

cant import the ngx-avatar module in my app.module. Then i get the error "Cannot find module 'testing'".

I installed the module from master with the git link with npm. I noticed that there are no *.d.ts files anymore
after importing and the package.config changed a lot which could cause the problem.

Looks like the project name was changed to "testing" and version is changed to "0.0.0".

Cou

[2018-09-15 11:41] HaithemMosbahi commented on #35
Hi,
Yes I'm working on it, I just merged a pull request to support angular 6 and there's still some work to do on the master. I'm doing my best to fix it and release a new version as soon as possible.

Also, the library has new structure based on Angular CLI.

[2018-09-15 11:44] HaithemMosbahi commented on #34
Hello,
I'm back to maintain the project and I will make sure to add a maintainer to avoid this in the future

[2018-09-16 17:33] HaithemMosbahi commented on #32
This should be fixed with version 3.0.0

[2018-09-16 17:33] #32 closed

[2018-09-16 17:34] HaithemMosbahi commented on #30
I will consider this feature in the next release

[2018-09-16 17:35] HaithemMosbahi commented on #34
Hey @odahcam. Are you interested in maintaining the component with me ? That would be great :)

[2018-09-16 17:36] HaithemMosbahi commented on #28
This should be fixed in version 3.0.0. It's now compatible with Angular 6.

@odahcam Yes, That would be great if you can maintain the component with me

[2018-09-16 17:36] #28 closed

[2018-09-16 17:41] HaithemMosbahi commented on #27
Hi and sorry for the late reply. Unfortunately the current version requires angular 4+.
In case you still need the component for angular 2 project, you can try version 1.1.0

[2018-09-16 17:41] #27 closed

[2018-09-16 17:46] #20 closed

[2018-09-16 17:48] HaithemMosbahi commented on #35
This should be fixed in version 3.0.0. Please take a look on the latest release and let me know if you have any questions :)

[2018-09-16 17:48] #35 closed

[2018-09-17 08:59] HaithemMosbahi commented on #12
This should be fixed with the latest release 3.0.0

[2018-09-17 08:59] #12 closed

[2018-09-17 11:24] lorentzyip opened #36 "Error building production"
Hi, I've got error when building production app (`ng build --prod`) with ngx-avatar 3.0.0. The error message is:

ERROR in : Unexpected value 'AvatarModule in C:/path/node_modules/ngx-avatar/ngx-avatar.d.ts' imported by the module 'XXX in C:/path/XXX/XXX.module.ts'. Please add a @NgModule annotation.

Environment:
@angular/core@6.1.7
@angular/cli@6.2.2
ngx-avatar@3.0.0

Please help.

[2018-09-17 11:39] odahcam commented on #34
I feel flattered about that, sure I can give some help. 🙂

[2018-09-17 12:12] lorentzyip commented on #36
Let me give more information, the XXX module is a lazy-loading module which imports the AvatarModule. Here are the source codes:

app.module.ts
[code]
app-routing.module.ts
[code]
xxx.module.ts
[code]
xxx-routing.module.ts
[code]
xxx.component.ts inside xxx module
[code]
xxx.component.html
[code]

[2018-09-17 19:53] HaithemMosbahi commented on #36
@lorentzyip Thank you for raising this issue. I managed to reproduce it and yes it's a bug.

The thing is I just migrated the component to use Angular 6 and Angular CLI for building and packaging and it seems that there's an issue with AOT mode because when I run this `ng build --prod --aot=false --build-optimizer=false` it works.

I am working on this bug and I will do my best to fix it as soon a

[2018-09-17 21:43] HaithemMosbahi commented on #36
Hi @lorentzyip I just released a new version 3.0.1 that contains a partial fix for the build prod issue.
Importing AvatarModule should work now, please let me now if it works for you.

For now the only thing that doesn't work with prod mode is AvatarModule.forRoot(avatarConfig). I'm working on it to make it AOT friendly

[2018-09-18 04:08] lorentzyip commented on #36
@HaithemMosbahi Thank you so much. 👏👏👏

[2018-09-23 16:48] #36 closed

[2018-09-24 14:44] #34 closed

[2018-09-25 10:10] sarfarazansari commented on #30
@HaithemMosbahi  do you have any plan to fix. let me know will do it.

[2018-09-25 10:58] odahcam commented on #30
Seems like we'r checking for the image avatar before setting the text one: https://github.com/HaithemMosbahi/ngx-avatar/blob/d441ce9d38501a136591059d1b87000b3fc434a1/projects/ngx-avatar/src/lib/avatar.component.ts#L172-L182

and double-checking it in the template: https://github.com/HaithemMosbahi/ngx-avatar/blob/d441ce9d38501a136591059d1b87000b3fc434a1/projects/ngx-avatar/src/lib/avatar.component

[2018-09-26 20:47] HaithemMosbahi commented on #30
Yes we could configure the component to set the initials first. As I'm sure you know the avatar logic is based on the source priority ( facebook, twitter, initials, etc ), at the moment, source priority  is hard coded as it's shown here :

https://github.com/HaithemMosbahi/ngx-avatar/blob/d441ce9d38501a136591059d1b87000b3fc434a1/projects/ngx-avatar/src/lib/avatar.service.ts#L10-L21

The solution t

[2018-09-26 21:00] HaithemMosbahi commented on #26
You can achieve this with the current implementation of the avatar component. Here is an example that  would show facebook avatar if it's successfully loaded and fallback to the image that was provided as src otherwise
`<ngx-avatar facebookId="userFacebookID" src="assets/avatar.jpg"` > </ngx-avatar>

Let me know if you still have any problem with this.

[2018-09-26 21:00] #26 closed

[2018-09-27 00:39] whizkidwwe1217 commented on #30
@HaithemMosbahi That will work for me. There should be a config that allows us to set the initial source that has the fastest load time (e.g. INITIALS, CUSTOM or VALUE). The component will initially load the initial source that was configured and then will try to load the sources in sequence. If one of the sources succeeds, then that's the only time the avatar will be replaced.

[2018-10-02 10:53] HaithemMosbahi commented on #24
Thank you for raising this issue and sorry for the late reply. This bug is now fixed starting from version 3.1.1

[2018-10-02 10:53] #24 closed

[2018-10-02 11:01] HaithemMosbahi commented on #23
I think this is was caused by a bug related to the source priority. Could you please check if the problem is resolved with version 3.1.1.

This should work and fallback to initials :
`<ngx-avatar src="broken-img-url" name="John Doe"></ngx-avatar>`

[2018-10-02 11:09] #23 closed

[2018-10-02 11:13] HaithemMosbahi opened #38 "Cover the component with unit test"
In order to improve the component code and to reduce potential bugs and also to make it easy to maintain we need to cover the ngx-avatar component with unit test.

[2018-10-02 11:15] HaithemMosbahi opened #39 "fix continuous integration build"
This is about fixing the travis build

[2018-10-02 11:27] odahcam commented on #39
Just to reference for future: https://travis-ci.org/HaithemMosbahi/ngx-avatar

[2018-10-02 22:20] odahcam commented on #39
Let's start with #40

[2018-10-02 22:54] odahcam commented on #39
@HaithemMosbahi can you help me on that?

[code]

[2018-10-03 07:53] HaithemMosbahi commented on #39
@odahcam yes sure, the service SourceFactory must be provided to avatar.component spec. I'm going to update the pull request

[2018-10-03 11:32] HaithemMosbahi commented on #38
I'm working on this one, I started by refactoring / covering the avatar.service. Here's the [branch](https://github.com/HaithemMosbahi/ngx-avatar/tree/feature/refactoring-and-testing)

[2018-10-03 11:49] odahcam commented on #39
And success: https://travis-ci.org/HaithemMosbahi/ngx-avatar/builds/436514474

Once this doesn't depends on any release to take effect, I'm closing it.

[2018-10-03 11:49] #39 closed

[2018-10-19 02:00] mhosman opened #43 "Update deps. to Angular 7.0"

[2018-10-19 02:43] odahcam commented on #43
I'm on it!

[2018-10-19 03:28] odahcam commented on #43
Looks like a package called `tsickle` is blocking the way for ng 7. We shall wait until that package adds support for TS 3.x 😞

[2018-10-19 03:35] odahcam commented on #43
WIP PR opened #44

[2018-10-26 12:45] #43 closed

[2018-10-28 13:43] HaithemMosbahi commented on #43
@mhosman we just release version 3.2.0 which includes upgrading angular dependencies to 7.0.0

[2018-10-29 12:49] HaithemMosbahi commented on #38
should be closed when this branch gets merged #46

[2018-11-01 00:13] odahcam commented on #38
I think it's ready, isn't it?

[2018-11-02 13:53] HaithemMosbahi commented on #38
I still need to cover some scenarios in the avatar.component.spec.ts
The goal is to cover the maximum features to avoid bugs / regression. I think after that we will be able to confidently auto publish to npm when we merge to master

[2018-11-15 08:38] philipjohn007 opened #47 "Provision for custom styling to accept css class"
I started using **ngx-avatar** recently in our project as it seemed to match all our requirements.

But I see that currently application of custom styling is through `style` property in ngx-avatar. There is no provision to accept css classes for this. We have a lot of variables in our scss classes and we use them for all the styling. It would be great to accept **css classes also** apart from the

[2018-12-26 19:00] haivp3010 commented on #18
I think there is an issue with this line where it checks whether there is an existing source of the type before (in this case, it is "custom")
https://github.com/HaithemMosbahi/ngx-avatar/blob/44791e79942f6f05832536b669c56023460fad58/projects/ngx-avatar/src/lib/avatar.component.ts#L272

It is comparing the existing sourceType with an **toUppserCase** version while we can see that the enum definiti

[2018-12-27 04:49] haivp3010 commented on #18
@odahcam Thanks for your reviewing. I've applied your suggestions.

[2019-01-01 15:49] HaithemMosbahi commented on #18
@haivp3010 Thank you for your contribution and for your pull request. you are right we don't need the toUpperCase() there.
I have already started to write unit test to the component and do some refactoring in order to get rid of bugs like that. In the new version I already fixed that.

https://github.com/HaithemMosbahi/ngx-avatar/blob/a5cb9ea21215e50ac1a9a741e4f71a5a4c8ce23c/projects/ngx-avatar/sr

[2019-01-30 14:32] chadbr opened #52 "Tooltip?"
Would it be feasible to add a tooltip that shows the name / email / whatever info is convenient?

Thanks, Chad

[2019-01-30 15:26] odahcam commented on #52
You can easily use other tools with this component, like [Angular Material Tooltip](https://material.angular.io/components/tooltip/overview); e.g.:

[code]

Feel free to ask any more questions you may have and share your result if you like. 🙂

[2019-01-30 15:26] #52 closed

[2019-02-12 15:22] aliasbody opened #53 "Incorrect alignement in Firefox"
There seems to be a bug where the vertical alignment is incorrect in Firefox, but correct in Chrome.

Here is an example of the same ngx-avatar with the same code running on two different browsers:

Firefox:
![imagem](https://user-images.githubusercontent.com/9455122/52645999-ce928300-2ed9-11e9-9e54-dc7fef0b488b.png)

Chrome:
![imagem](https://user-images.githubusercontent.com/9455122/52646036-e4a

[2019-02-21 22:51] mhosman commented on #18
I'm not able to change the value of src in the production build. There is any fix for this? My idea is to change one picture to another.

[2019-02-22 00:40] odahcam commented on #18
I don't know about this error, but as a workaround you can use multiple instances of `ngx-avatar` and switch them.

[2019-02-25 21:03] mhosman commented on #18
Hey @odahcam it could be great to fix this. Add several instances of ngx-avatar is not a good solution. The image should be updated after changing a src for another one.

[2019-03-05 06:32] bhalperin opened #54 "How to call ngx-avatar's getRandomColor"
In my Angular 7 app I successfully integrated ngx-avatar 3.2.0. However, I can't find how to call `AvatarService.getRandomColor()`. In my component file I have:

[code]

But my compilation fails with the following error:

[code]

[2019-03-05 06:52] bhalperin commented on #54
I changed it as follows to make it work. But I don't think it was the author's intention:
[code]
Should be (but not working):
[code]

[2019-03-05 23:42] odahcam commented on #54
Did you imported the `AvatarModule` as:

[code]

?

[2019-03-06 04:03] bhalperin commented on #54
@odahcam Yes I did. I successfully integrated it as you can see below. Only problem is how to correctly call `getRandomColor`
![image](https://user-images.githubusercontent.com/683900/53855169-3158d500-3fd5-11e9-96e9-975491dfd293.png)

[2019-03-06 04:24] odahcam commented on #54
Well, the `AvatarService` is not in the public API, so I'm afraid it is not intended to be used outside the lib itself. :/

[2019-03-06 04:32] bhalperin commented on #54
Possibly. Anyway I upgraded from an older version of `ngx-avatar` where I had called it in a similar way like below:
[code]
The reasoning is to retrieve the same color of my avatar in order to color e.g. a label I display next to it and wish to color same.

[2019-03-06 12:56] odahcam commented on #54
Well, in this case I think `color` could be a `ngx-avatar` component's output, so you could get the current value directly from the component.

[2019-03-06 13:59] bhalperin commented on #54
Thanks. So for now it's an enhancement request to the author.

[2019-03-12 17:41] mhosman commented on #18
Any news???

[2019-03-12 22:42] odahcam commented on #18
Sorry, I'm pretty busy at the moment, but I still can happily review some PR if someone wants to send one.

[2019-03-25 19:22] #38 closed

[2019-03-25 20:38] HaithemMosbahi commented on #54
Hi @bhalperin
FYI, I just published a new version of ngx-avatar which exports the service, defaultColors and defaultSources.

[2019-03-27 17:03] ankon opened #56 "`package.json` is missing Github information"
When looking at this component on https://www.npmjs.com/package/ngx-avatar there is no repository/github link.

[2019-03-28 13:59] #56 closed

[2019-04-02 12:00] datencia opened #58 "HttpClientModule imported in AvatarModule override HttpClient defined in the AppModule"
Hi @HaithemMosbahi

First, thank u for this library, good job. It's saving me a lot of time.

I'm facing an issue, I will try to explain it. In my app (Ionic3/Angular5), I have injected the `HttpClientModule` in the root module, aka `AppModule`, with a few HTTP interceptors.

Then I have a feature module (lazy loaded) where I'm using `ngx-avatar`. It is working but the services I have in that modu

[2019-04-02 16:37] odahcam commented on #58
Right, so the problem is that the library does not allows you to inject your app's HttpClient into the component. Well, here we have a situational case, because I don't know if it should really accept the user's app HttpClientModule or keep its own "safe" configured module. 🤔

[2019-04-04 14:44] HaithemMosbahi commented on #14
I will close this issue since it has been resolved

[2019-04-04 14:44] #14 closed

[2019-04-06 11:33] datencia commented on #58
Okay, thanks. In the meantime, I'll keep using my patch.

[2019-04-06 14:25] odahcam commented on #58
Sure, I don't know what's the true intentions behind that implementation so I'll just ping @HaithemMosbahi .

[2019-05-06 03:13] nickraphael commented on #58
Oh man, I've lost a few days working out what was wrong in my app.  And this is it.  I use ngx-avatar in my lazy loaded modules and it's killing my http interceptors.  Any idea when this will be fixed?

[2019-05-08 00:32] nickraphael commented on #58
Is there an intention to fix this?  Any decent sized angular project will use http interceptors and almost all use lazy loading.  If this isn't fixed, then this library is kind of useless.  Which would be a real shame.  I'll give it a couple more days but I'll need to find a different library soon.

[2019-05-08 04:30] odahcam commented on #58
PRs are welcome. 🙂

[2019-05-08 04:59] nickraphael commented on #58
@odahcam I think there was a proposed fix mentioned above but wasn't accepted.  Last I heard we are waiting for feedback from @HaithemMosbahi.

[2019-05-08 07:16] HaithemMosbahi commented on #58
@nickraphael @datencia @odahcam Sorry for the late reply.
You are right, httpModule must be loaded only once in the application and therefore the library should not import it.
I will make a fix and release a new version today

[2019-05-08 07:35] datencia commented on #58
thx, I have a patch in my fork, I can send a PR if u agree.

[2019-05-08 07:46] #58 closed

[2019-05-08 10:15] HaithemMosbahi commented on #58
I just published new version v3.4.0 that includes the fix.

[2019-05-09 03:55] jpike88 opened #62 "Transitioning from ng1 using angular-avatar, handling ngUpgrade downgradeComponent situation"
It's not immediately clear how to use this with ngUpgrade, as usually 3rd party components provide the component itself, not a module.

That way, I can use that component in entryComponents, and declare this code in my AppModule:

[code]

I tried this PR (https://github.com/HaithemMosbahi/ngx-avatar/pull/48) but the problem is that if I export the component separately, it seems to be an issue:

`C

[2019-05-09 03:55] jpike88 commented on #62
Relevant PR?
https://github.com/HaithemMosbahi/ngx-avatar/pull/48

[2019-05-09 06:58] jpike88 opened #63 "Unable to build project"
There isn't a clear instruction for how to build... ng build gets this error

`src/app/app.module.ts(5,30): error TS2307: Cannot find module 'ngx-avatar'.`

[2019-05-09 10:06] HaithemMosbahi commented on #62
Hi,
I am not sure I understand the issue here ! This component was not implemented for ng1, it's for Angular 2+.
The pull request that you mentioned is meant for supporting Angular Elements and not NgUpgrade

[2019-05-09 10:07] HaithemMosbahi commented on #62
angular-avatar is a completely different library

[2019-05-09 10:45] jpike88 commented on #62
I'm aware of that, just giving you background

ngUpgrade allows a situation where you don't have to implement a component for ng1 at all, it just works.

https://angular.io/api/upgrade/static/downgradeComponent

Because you're hiding everything in a module, it makes it very difficult to get at the component. This is about adhering to angular 2 design principles, it shouldn't require any knowledge

[2019-05-12 21:05] HaithemMosbahi commented on #62
Now I understand the problem, the AngularComponent class is needed in order to be able to downgrade it and use it ing ng1.
I will export AvatarComponent class in the next version

[2019-05-12 21:11] HaithemMosbahi commented on #62
fixed in version 3.5.0

[2019-05-12 21:11] #62 closed

[2019-05-13 04:06] jpike88 commented on #62
Not fixed, I get this error now:

Unless you expect that I do what that error suggests... seems like major overkill for such a minor library though. I don't think requiring developers to do that is a good move, just adds unnecessary complexity to codebases

[2019-05-29 00:09] mhosman opened #64 "Update deps. to Angular 8.0"

[2019-05-29 06:17] pavinan opened #65 "Initials are not shown in prod build in angular 7 when "custom url" returns 404."

[2019-05-29 07:10] jpike88 commented on #64
@odahcam can you guys just lock it in asap, I've been on the angular 8 betas since the beginning and there are no issues.

[2019-05-29 13:38] mhosman commented on #64
Hey @jpike88 this is in order to remove the warning:
`ngx-avatar@3.5.0 requires a peer of @angular/core@^6.0.0 || ^7.0.0 but none is installed. You must install peer dependencies yourself.`

[2019-05-29 17:48] jpike88 commented on #64
@mhosman that's correct

[2019-06-01 17:54] HaithemMosbahi commented on #65
Could you please provide a link to reproduce or some code snippet

[2019-06-04 07:20] jpike88 commented on #64
@mhosman any movement?

[2019-06-04 09:20] HaithemMosbahi commented on #64
I am going to do the update and release a new version today

[2019-06-06 04:28] pavinan commented on #65
I figured it out.

Is used this in html
[code]

For some reason this is not working in production build
[code]
But this is working good in production build
[code]

I think the problem is with angular forms. It might be working differently in production build.

[2019-06-06 17:35] sunithzysk commented on #18
<ngx-avatar
        [src]="''"
        [name]="username | async"
        size="40" initialsSize="2"></ngx-avatar>

Where username is observable. Worked for me

[2019-06-07 07:12] jpike88 commented on #64
i never saw that new version lol

[2019-06-08 14:52] #65 closed

[2019-06-09 11:25] HaithemMosbahi commented on #64
A new version is released with Angular 8 support. I am sorry for the delay

[2019-06-09 11:25] #64 closed

[2019-06-09 15:50] jpike88 opened #66 "CRITICAL: Module won't resolve on version 3.6.0"
@HaithemMosbahi Latest version is broken. Unable to import the module with latest version. see the stackblitz:

https://stackblitz.com/edit/ngx-avatar-demo-zdqn85

Downgrading to 3.5.0 works.

[2019-06-10 10:05] HaithemMosbahi commented on #66
I did a mistake when I published version 3.6.0. Thank you for raising the issue.
I just fixed it, please use version 3.7.0

[2019-06-10 10:05] #66 closed

[2019-06-10 14:50] matheusrufinos opened #67 "Fast scroll with Ionic Virtual Scroll bug"
Hello!

I'm having a nuisance bug using Ionic 4 with virtual scroll. When I scroll quickly on the list, the avatars get their initials changed and wrong. I tried to correct with the approx-item-height of the virtual scroll, but without success.

![Captura de Tela 2019-06-10 às 11 46 45](https://user-images.githubusercontent.com/38802787/59203802-b673fd00-8b75-11e9-89b7-925f957cf964.png)

Is there

[2019-06-10 15:19] matheusrufinos commented on #67
Solved upgrading to 3.3.5 version of ngx-avatar.
Sorry for the inconvenience.

[2019-06-10 15:19] #67 closed

[2019-06-10 18:10] mhosman commented on #18
This issue is already fixed.

[2019-06-12 08:48] HaithemMosbahi commented on #18
I will close this for now, feel free to create a new issue if you still have any problem with the component.

[2019-06-12 08:48] #18 closed

[2019-06-17 06:00] nikhilkapoorephesoft opened #68 "Getting error in angular 8"
I am using Angular 8

and followed a similar approach as mentioned in the document.

I am getting below mentioned errors
ERROR in ../node_modules/ngx-avatar/lib/avatar-config.token.d.ts(1,32): error TS2307: Cannot find module '@angular/core'.
../node_modules/ngx-avatar/lib/avatar.component.d.ts(1,78): error TS2307: Cannot find module '@angular/core'.
../node_modules/ngx-avatar/lib/avatar.module.d.

[2019-06-17 06:06] nikhilkapoorephesoft commented on #68
Closing  issue since it was my fault

[2019-06-17 06:06] #68 closed

[2019-06-24 05:48] andbjer opened #69 "Avatar is not updated if src is removed dynamically"
In a project I am working on, I want to users to be able to choose their own image as avatar, and use the "initials avatar" if they don't have an image. I also want them to be able to remove an image.

When removing the image, `src` is updated to `null`. This does not update the avatar, and the image is still showing.

I have made a [StackBlitz demo](https://stackblitz.com/edit/angular-2xq9vw) dem

[2019-06-24 06:00] andbjer opened #70 "When name is provided it should be used to make the images accessible"
When a `name` is provided to the `ngx-avatar`-component, I would like it to use the name as an `alt`-text on the `img` to make it accessible.

[2019-06-28 11:36] HaithemMosbahi commented on #70
It makes sense. I will add this into the component

[2019-07-23 08:03] BobaFett58 commented on #69
+1
If I will change the user dynamically, avatar still show 'old' photo

[2019-07-23 11:44] odahcam commented on #69
I can confirm this is a bug.
You forget to bind the name property in your StackBlitz example btw.

[2019-07-23 22:37] vptcnt commented on #69
+1

[2019-07-30 14:56] kamilwasyl commented on #69
Same here.

bind src={{object.src}} doesn't change the image when has a new model

[2019-07-30 14:58] kamilwasyl opened #73 "Doesn't keep ratio when image is rectangle"
I want it to squeeze to be square.

![image](https://user-images.githubusercontent.com/6596010/62140381-318e9f80-b2eb-11e9-8ced-6c0bc11da745.png)

both are set like this :

 <ngx-avatar src="{{company.logoLink}}" name="{{company.name}}"
         initialsSize="3" size="40" [round]="true">
</ngx-avatar>

[2019-08-20 08:23] vandinhabc opened #75 "Displays the first and last character avatars of the name?"

[2019-08-20 08:24] vandinhabc commented on #75
i have name avatar = 'nguyen van dinh'. i want display avatar : ND . help me? thank

[2019-08-22 15:14] HaithemMosbahi commented on #75
I believe this is a specific transformation that you can do outside of avatar component and then just simply pass the value that you wanna display to the avatar component. e.g :
[code]

[2019-08-29 09:54] #75 closed

[2019-08-30 08:46] Venipa opened #77 "export the sourceFactory?"
Would be nice to programatically generate urls for the implementation with material2
[code]

[2019-08-30 09:41] Venipa commented on #77
yarn add https://github.com/Venipa/ngx-avatar#build/dev
if people want to try it

[2019-09-09 14:56] geno-github opened #80 "It would be nice to add Microsoft to your list of avatar providers."
Very nice work on this component, sir.  We have an external collaboration template that uses federated IDs from Microsoft, Google, Twitter and Facebook.  Of these, your component supports all but Microsoft.  It would be nice to add that functionality.  Thank you.

[2019-09-09 22:39] odahcam commented on #80
Hey, thanks!

That looks interesting, could you provide some source of information about that? Or even an example would be great!

[2019-10-03 21:00] GlauberF opened #81 "callback gravatar/facebook/twitter"
Is there any function to place and receive feedback if it was possible to load the gravatar / facebook / twitter image?

[2019-10-03 21:13] #81 closed

[2019-10-04 18:26] GlauberF opened #82 "sanitizing unsafe style value"
![Captura de Tela_selecionar área_20191004152544](https://user-images.githubusercontent.com/11314585/66230800-53c1e680-e6bb-11e9-9b9f-7010f27d527e.png)

![Captura de Tela_selecionar área_20191004152554](https://user-images.githubusercontent.com/11314585/66230803-58869a80-e6bb-11e9-9d1d-a03ea3537745.png)

[2019-10-04 22:39] odahcam commented on #82
Não tenho certeza no momento, mas acredito que essa warning é devido ao fato de você estar utilizando algum estilo customizado no componente, confere?

[2019-10-09 08:40] kamilwasyl commented on #73
? Any thoughts ? Still a bug

[2019-10-09 10:40] GlauberF commented on #82
I'm not using anything custom

[2019-10-24 11:22] BobaFett58 commented on #69
any solutions for this ??

[2019-11-13 15:12] marcoacevey commented on #73
Having the same issue on ionic.

[2019-11-13 20:32] odahcam commented on #73
Hey, I think it's not a bug, but just a not implemented feature.

[2019-11-13 22:48] marcoacevey commented on #73
Dealing with the same problem :|
Can't find any workarround.

[2019-11-13 22:48] marcoacevey commented on #73
CSS may be?

[2019-11-14 11:22] marcoacevey commented on #73
In my case, on an Android device, It gets width is nota right, on ionic 4.

Em qua, 13 de nov de 2019 17:32, Luiz Machado <notifications@github.com>
escreveu:

[2019-11-18 22:22] odahcam commented on #73
You can always use `::ng-deep` and customize the styling. That would certainty help you.

[2020-02-09 23:36] mhosman opened #84 "Update dependencies to Angular 9.0"
In order to avoid message:

[2020-02-11 09:29] blindsz commented on #84
Can someone please update this? Thanks!

[2020-02-12 17:48] kamilwasyl commented on #73
@odahcam any examples?

[2020-02-17 15:28] strovato-fts commented on #25
Hello, I'm sorry if my question seems silly, but is it possible to catch those 404 errors and not display them in the console ?

thanks

[2020-02-19 01:05] maguro commented on #84
fyi https://github.com/HaithemMosbahi/ngx-avatar/pull/85

[2020-02-24 11:27] orahul1 commented on #54
@HaithemMosbahi is this still open?

[2020-02-26 23:57] chadbr commented on #84
He hasn't done anything on github since Nov...

Might be time to fork...

¯\_(ツ)_/¯

[2020-03-07 07:57] blindsz commented on #84
Anyone that can update this? Thanks!

[2020-03-09 14:17] mhosman commented on #84
Yes @chadbr, no news from this user since November. Maybe some of the direct collaborators of this project could fork this one.

[2020-03-09 16:30] fredriksundstrom opened #88 "isSource gives TypeError in Internet Explorer 11"
We have quite a few users in Internet Explorer 11 still and we started using ngx-avatar recently. We detected that it throws a typeerror on the isSource method: https://github.com/HaithemMosbahi/ngx-avatar/blob/118a7e6db0189a009dfae390456b7025dd538c53/projects/ngx-avatar/src/lib/avatar.service.ts#L77

We use the initials version only.

It pauses loading of polyfills which is a big deal with IE so

[2020-03-11 13:44] mhosman commented on #84
Another problem with Angular 9.0:

`WARNING in Entry point 'ngx-avatar' contains deep imports into '/Users/xxxxxxxx/Documents/GitHub/project/node_modules/ts-md5/dist/md5'. This is probably not a problem, but may cause the compilation of entry points to be out of order.`

[2020-03-18 12:23] blindsz commented on #84
Still nothing??

[2020-03-30 16:14] ea20140129 opened #90 "Support for SVG's"
Is it possible for this module to support SVG's in addition to the existing images?

[2020-03-30 16:17] ea20140129 commented on #84
Is there an ETA for getting this module to Angular 9.0?

[2020-04-01 22:12] davequested commented on #84
+1

`Seeing ngx-avatar@3.7.0 requires a peer of @angular/common@^6.0.0 || ^7.0.0 || ^8.0.0 but none is installed. You must install peer dependencies yourself.`

and

`Entry point 'ngx-avatar' contains deep imports into '/Users/dave/Documents/code/apps/mobile/node_modules/ts-md5/dist/md5'. This is probably not a problem, but may cause the compilation of entry points to be out of order.`

[2020-04-09 15:31] odahcam commented on #84
Nope, no ETA, no nothing. We are no an organization so we do not have a schedule or anything like that, this is just old free open source made to help the community, sorry. I'm helping to maintain things in here as I can and pushing forward some changes, but I'm no package maintainer in NPM, so even if I merge some PR in here, it doesn't mean it will get published, sorry again. Until @HaithemMosba

[2020-04-10 03:44] odahcam commented on #54
Nope, `avatarService` is now public and the requested method is API available.

[2020-04-10 03:44] #54 closed

[2020-04-10 03:45] odahcam commented on #88
That makes perfect sense, have you tried loading a polyfill on IE?

[2020-04-15 07:43] PowerKiKi opened #92 "Automatic release of tags from Travis to npm"
Following this https://github.com/HaithemMosbahi/ngx-avatar/pull/91#issuecomment-613821331, it would be nice to have automatic release of tags from Travis to npm to reduce bus factor for this project.

Here is an example on how to automatically publish tags as release which should be easy to adapt for this lib. But I cannot create a PR for it since I don't know the credentials to be encoded: https

[2020-04-15 21:05] GlauberF opened #93 "Angular 9 | deep imports"
Warning: Entry point 'ngx-avatar' contains deep imports into '/var/www/html/pwa-vimbo-new/node_modules/ts-md5/dist/md5'. This is probably not a problem, but may cause the compilation of entry points to be out of order.

[2020-04-16 03:45] odahcam commented on #93
Fixed in #79. Waiting for release.

[2020-04-16 03:46] odahcam commented on #92
I think this is very important and with Reviews and Checks in Pull Requests we can rely in this automatic system to publish new package versions for us.

We can even go further and create a configuration for auto releasing dev versions of the repo, so users can test nightly builds and access new features before major release and before our intervention.

[2020-04-16 04:06] PowerKiKi commented on #92
IMHO I wouldn't go that far. I feel it could be creating new expectations for users and more maintenance work in the build system for us. And I'd would rather spend our precious time on fixing bugs/adding useful features than maintaining something that might not be used by many people.

[2020-04-16 06:31] odahcam commented on #92
I like the dev builds because they are free of responsability and they saved me many times when a user asked for something I couldn't get ready for a release and I just said "oh there's that build, probably buggy, but you can try it out, blah blah...", hehe. Build, tag and publish daily the develop branch is pretty easy I must say, but that's just and idea. I just wanna make clear that I support c

[2020-04-20 05:51] odahcam opened #95 "Create ngx-avatar-experimental package on NPM"
This package would be used to experiment (haha) the auto-publishing workflow (CI/CD). So we could keep publishing, testing and working with new content even without access to the main package.

[2020-04-20 05:55] odahcam commented on #95
I've published it to hold the name in case you like folks like the idea: https://www.npmjs.com/package/ngx-avatar-experimental

[2020-04-22 06:50] #25 closed

[2020-04-22 14:12] biltongza commented on #93
Any ideas on when the release might be?

[2020-04-22 17:36] odahcam commented on #93
No.

[2020-04-23 10:21] jpike88 opened #100 "Allow no name instead of showing the 'N' character"

[2020-04-23 10:24] jpike88 commented on #100
I want to have no name while initializing, because I want to see if an image is present or not before setting the name

[2020-04-24 10:29] orahul1 commented on #95
cool... add a readme file there too.

[2020-04-25 15:07] odahcam commented on #100
The library will take care of that automatically, why bother?

[2020-04-27 12:23] Adesfire commented on #69
Same issue here, this question was asked almost a year ago, not sure that's gonna be fixed someday.

[2020-04-27 15:04] odahcam commented on #69
I'm not sure but **maybe** the current master branch already fixes this. We just don't have a publish date for it. We should test to see if it fixes the issue, otherwise make this a feature request.

[2020-04-28 11:53] Adesfire commented on #69
Sounds good. I set a wrong string to src when I want to hide it, but that's not clean though, just a work around

[2020-05-05 02:59] mhosman commented on #93
I don't think the repo owner is gonna back. Maybe we could create a new repo and new npm package. Something like ngx-avatars (with an s).

[2020-05-05 13:15] odahcam commented on #93
I would not be do radical, at least for now.

[2020-05-07 01:13] mhosman commented on #93
I understand what you say, but the owner has no activity since last 6 months!

[2020-05-07 02:58] odahcam commented on #93
Yeah, that's something. @HaithemMosbahi maybe you could give us some higher access level in here or even consider moving this repo to a free organization.

[2020-05-07 13:27] jpike88 commented on #93
@HaithemMosbahi are you alive?

Might be worth forking this is the owner is still unreponsive

[2020-05-12 03:20] PowerKiKi commented on #93
I tried to contact @HaithemMosbahi [on Twitter](https://twitter.com/PowerKiKi/status/1260044406008111105). If there is no answer in a few weeks, I'll fork the project for my own need (which may or may not be the same as the community need).

[2020-05-12 04:02] odahcam commented on #93
I also tried email, no response yet. We can still publish the package from this repository, just not to the same name, but I can setup continuos deploy as well. Or just let me know if you gonna need help.

[2020-05-12 04:02] #100 closed

[2020-05-12 04:06] PowerKiKi commented on #93
If I take responsibility for releases, then it will be from my own fork under a different project name. It doesn't feel quite right to keep developing in this repo but publish under another name.

[2020-05-13 14:38] iamVaibhavPatil commented on #93
@PowerKiKi  - Thanks.

[2020-05-24 01:47] neryortez commented on #93
I think we should consider claiming the npm package
https://docs.npmjs.com/using-npm/disputes.html

[2020-05-26 00:54] PowerKiKi commented on #93
On that page, it reads:

So indeed it seems this would be a legit case to dispute the package name. However I won't do it myself, as the package name has little importance to me. But maybe @odahcam would be interested in taking over the whole thing ?

[2020-05-26 05:55] jpike88 commented on #93
@HaithemMosbahi bump. Everyone here is waiting for an answer, they deserve it for chipping into this project.

[2020-05-26 22:36] odahcam commented on #93
I'd love to help, I'll certainty be a maintainer if you want me to. But I find a little rude to @HaithemMosbahi to take the package rights from him without even asking after so much work he put on this. I think we'll be much better suited with a new name or a scoped package publication.

Again, I don't think requesting the package name on NPM is wrong, just not polite. But I'll will go with most o

[2020-05-26 23:18] neryortez commented on #93
Hi there everyone. So... I did not mean to sound rude. Sorry about that.

Let me explain:
Part of the process of claiming the package is contacting the current owner.
By suggesting to claim the package I did not mean to diminish @HaithemMosbahi 's work, on the contrary I believe we should try to contact him first before even opening a new repository and/or package.
I find it awkward and confusing

[2020-05-26 23:36] odahcam commented on #93
So, I got no answers, sorry.

Glad to ~hear~ read that.

Oh, that sounds much better. So, I don't know, I'm a little undecided of what is right here. On the other hand everything you said is true, so I'm pending to agree with you. As the package owner I would add back Haithem to maintainer alongside with me and probably @PowerKiKi, but most important of all I could automate the deploy proccess so

[2020-05-27 01:32] jpike88 commented on #93
@HaithemMosbahi is either incapable or unwilling to maintain this library and has not responded to months of attempts to resolve this. I think we should move on without him

[2020-05-27 01:57] PowerKiKi commented on #93
In case of fork, I would like to:

- drop broken avatars, unless they are _trivial_ to fix (so at least Google according to #51, but maybe others too), because I am not willing to spend too much time on something that I don't use, or worse release something that I know is broken
- consolidate internal structure by making all sources async, so `AsyncSource` class is deleted and `Source` interface b

[2020-05-27 05:00] odahcam commented on #93
I'm fine with all your points and I though of some things that would be nice:

- with prettier we do stay compliant with Angular Style Guide (makes it easier to receive contributions).
- publish our updates over the past months before doing breaking changes (dropping stuff, api refactoring).
- make custom source more useful by allowing the user to create multiple custom sources and implement avata

[2020-05-27 05:04] neryortez commented on #93
Same for me as @odahcam
I also think the naming will make it easier to migrate.

[2020-05-27 08:40] PowerKiKi commented on #93
So you both vote to keep the component name identical as `<ngx-avatar>` ?

I feel it could be a little bit confusing if the component has the same name but comes from a different package (presumably `@ecodev/ngx-avatar`) ?

I'd rather make a clean break and force all users to make a very easy find-and-replace in their entire project. This would also allow to use both packages at the same time in a

[2020-05-27 11:53] mhosman commented on #93
Yeah, I think the best way is to fork this and create a new package name. It's fast and easier, and if @HaithemMosbahi appears one day, his repository will be the same.

[2020-05-27 11:56] jpike88 commented on #93
Ready to switch the moment new package name is published!

[2020-05-27 13:18] odahcam commented on #93
@PowerKiKi the scopes work like a namespace these days, where you specify where you want your something-module to come from, so for some the whole point of using scopes end up to being to repeat names under a different context. Also, I like the idea do keep the name since it would be a fork, thus part of the same project, but just being a variant of it.

About the component name, you can always pr

[2020-05-27 14:16] PowerKiKi commented on #93
Ok I'll set up things in in the coming days, probably around Monday, to give @HaithemMosbahi a few more days to magically reappear :mage_man:

[2020-06-01 14:02] mhosman commented on #93
Ok... monday... no news... let's rock! hahahaha

[2020-06-03 14:58] HaithemMosbahi commented on #93
Hello guys,
I am deeply sorry guys for the inconvenience caused by my absence. I lost access to my Github account and it took me some time to get it back. I am really sorry again.
I will publish new version and I will discuss with @odahcam ( if he agrees of course ) the publishing rights of the package in order to prevent this issue in the future.

[2020-06-03 15:01] neryortez commented on #93
Great to have you back dude!
Will our revolution come to a halt now? xD

[2020-06-03 22:42] HaithemMosbahi commented on #93
Version 4.0.0 is published with Angular 9 support. It would be great if you guys could do some testing on your side! Your feedback is highly appreciated.
The new release includes a new feature: Avatar Cache #96 Thanks to @PowerKiKi for his contribution.
I would like to thank you all guys for your contribution to this project!
Last but not least, a big Thank you to @odahcam for keeping this reposit

[2020-06-03 22:55] HaithemMosbahi commented on #92
Hi @PowerKiKi @odahcam,
I was planning to do this and I believe now it's a must to avoid blocking this project in the future.
I like your suggestions, I will add one more thing: I believe we need to have good test coverage for the core features of the component before starting the auto release process.

[2020-06-03 22:57] HaithemMosbahi commented on #84
New version is released with Angular 9 support => 4.0.0
Sorry guys for the delay

[2020-06-03 22:57] #84 closed

[2020-06-03 23:48] PowerKiKi commented on #93
Great timing for a great news ! I won't be forking anything then.

And this (unrelated) issue can be closed.

[2020-06-03 23:54] PowerKiKi commented on #92
There is two different approaches to auto release. First is to release every commit that pass tests entirely automatically. Second it that we, humans, decide whenever we feel like to create and push a tag, and then Travis release that tag.

I'm in favor of the second option, keeping humans in control of _when_ the release happens. Mostly because I don't have experience with the first solution, and

[2020-06-04 00:03] odahcam commented on #92
I also prefer the second one, which can be easily achieved with GitHub Actions and the Releases from GitHub based on manual tagging. Auto-release would also have the challenge of auto-generating release tags. So second is easier and faster and will already help now.

[2020-06-04 00:04] odahcam commented on #92
I have an workflow for publishing packages with Releases integration via GH Actions on this repo: https://github.com/zxing-js/text-encoding/blob/master/.github/workflows/npmpublish.yml

[2020-06-04 00:04] odahcam commented on #93
Hey @HaithemMosbahi it's so good to have you around here once again! I surely agree on having access to publish the package. We can discuss that on #92.

[2020-06-04 00:19] PowerKiKi commented on #92
I have no experience with GitHub Action, so I'll leave it to you then. I suppose we would also move test from Travis to GitHub Action then ? That's fine by me.

I notice your Action is using yarn, not npm. I also prefer yarn and we could migrate this project to yarn, but it should be done properly (removing package-lock.json and updating angular.json). I can take care of that if you agree.

[2020-06-04 00:29] mhosman commented on #84
Great news man!! Glad to have you back.

[2020-06-04 06:25] #93 closed

[2020-06-04 13:08] GlauberF commented on #93
Glad this has been resolved.
About the option (Cache) I didn't find anything in the documentation / readme, it would be interesting to update with this new option.

[2020-06-04 13:09] PowerKiKi commented on #93
The cache is entirely transparent. There is nothing to do. See #96 for details.

[2020-06-04 13:12] GlauberF commented on #93
@PowerKiKi thanks.

[2020-06-05 03:39] odahcam commented on #92
I like yarn, so I do agree.

Actually we can let that tests running there too. The action will only run tests before publishing a package. But yes, we can move from Travis with no problems, but I do find Travis environment a little more robust for testing, so I wouldn't say we should move from it so soon.

[2020-06-15 06:24] binshidhak opened #104 "[name] property not showing initials in internet explorer"
If the src is empty string then chrome is showing initials of name as image, but in internet explorer nothing is showing.

[2020-06-16 09:29] HaithemMosbahi commented on #104
Thank you for reporting this issue.
Could you please provide us with the exact version of IE ?

[2020-08-12 08:28] kulukamal commented on #70
Is this already in latest version or it's yet to be updated

[2020-08-18 18:36] mounthorse-slns commented on #73
Same problem here.

[2020-08-24 23:17] FranciscoKnebel opened #108 "Error on Angular 10"
Error caught on ng build --prod with Angular 10.

[code]

[2020-08-31 18:13] FranciscoKnebel commented on #108
Problem was solved with the Angular 9 migration https://github.com/HaithemMosbahi/ngx-avatar/pull/91/files#diff-017b69446dd3f277592d9b36c2593474.

Solved by changing package version to 4.0.0

[2020-08-31 18:13] #108 closed

[2020-09-02 18:26] rat17sri opened #109 "Getting cors error on googleId"
![image](https://user-images.githubusercontent.com/28490234/92021783-e8274400-ed77-11ea-886d-a69b1b6d0e41.png)

[2020-09-16 02:12] PowerKiKi commented on #92
@odahcam did you do something for automatic release ? I couldn't find anything in current code or PR.

[2020-09-27 23:34] odahcam commented on #92
Sorry I did not implement anything here yet. But here's some example of how I'm doing in another repository: https://github.com/zxing-js/text-encoding/blob/master/.github/workflows/npmpublish.yml

[2020-09-30 03:17] odahcam commented on #92
@HaithemMosbahi can you add the NPM required security key (auth token) for publishing on the repository and share it's name in here [(usually NPM_TOKEN)](https://github.com/zxing-js/text-encoding/blob/5ad81ef9b590441d66cf472e9630d46496e2f916/.github/workflows/npmpublish.yml#L72)?

[2020-10-06 23:28] odahcam opened #112 "Add Hacktoberfest topic"
@HaithemMosbahi please [add the topic to the repository](https://www.youtube.com/watch?v=FxBv4FMcDgo&ab_channel=DigitalOcean) as I do not have access to it.

[2020-10-15 04:28] odahcam opened #115 "Hacktoberfest 2020"
For those wondering whether we are participating or not I just came here to say that I'll be all month reviewing and adding the `hacktoberfest-accepted` tag for the PRs who deserves it. Thanks folks, keep hacking.

[2020-10-30 08:14] rolfback opened #116 "Support for Angular 10.x"
npm WARN ngx-avatar@4.0.0 requires a peer of @angular/common@^9.0.0 but none is installed.

Works fine with Angular 10.x.

[2020-10-30 14:49] odahcam commented on #116
Related: #108

[2020-11-26 16:17] mhosman commented on #116
Angular 11.....

[2020-12-07 13:10] odahcam commented on #116
PRs still welcome guys. Don't forget there are ready to merge PRs that still didn't got merged because we can't currently deploy a new version.

[2021-01-21 14:49] OldShaterhan commented on #116
I'm waiting for update too. It looks to work with Angular 11.

[2021-01-27 21:47] odahcam commented on #116
@OldShaterhan with the current version?

[2021-01-28 00:21] OldShaterhan commented on #116
@odahcam yup, 11.1.1. Probably only change that should be done is package version compatibility and ES target platform (as far as I remember).

[2021-01-28 10:23] Heatmanofurioso commented on #116
This issue could be closed, since support has been added with
https://github.com/HaithemMosbahi/ngx-avatar/pull/119

[2021-01-28 10:29] Heatmanofurioso commented on #115
This could be closed since Hacktoberfest has finished

[2021-01-28 10:29] Heatmanofurioso commented on #112
This could be closed since Hacktoberfest has finished

[2021-01-28 10:35] Heatmanofurioso opened #121 "Release with latest Angular support"
Hi @HaithemMosbahi. Any possible ETA on the release of the latest changes?
If there is any issue, or anything I can help with towards it, I'd gladly take up any issue

[2021-01-28 11:41] #112 closed

[2021-01-28 11:41] #115 closed

[2021-01-28 11:42] odahcam commented on #116
No, it didn't. The PR was merged but the package was not released, so we still do not have support for Angular 10 unless you build from sources.

[2021-01-28 13:15] mhosman commented on #116
It should be great to give access to any other collaborator to publish new packages

[2021-01-29 03:29] odahcam commented on #121
Sorry, no ETA, Haithem is the only one who can release packages this moment.

[2021-01-29 03:29] odahcam commented on #116
Yes it should.

[2021-01-29 09:56] Heatmanofurioso commented on #121
He seemed to stop being active a while after a year ago.

I hate to say this, but should we maybe consider forking and continuing the package ourselves? I've sent him an email around a month ago asking about the dependency updates before I decided to do them myself, but he didn't answer.

And I think that, with the due reference, we should consider continuing the project ourselves @odahcam

[2021-01-31 20:45] odahcam commented on #121
Yeah, this is a recorrent question now. I won't be an active contributor as well, but I can in fact help maintain. @PowerKiKi is a good contributor and his opinion matters in that question.

[2021-02-01 00:29] PowerKiKi commented on #121
@Heatmanofurioso, we've been on the verge of forking a few months ago, but [have been saved in extremis](https://github.com/HaithemMosbahi/ngx-avatar/issues/93#issuecomment-638254015). But since then, the whole thing died down again. So I recently made up my mind to [migrating away from this lib](https://github.com/HaithemMosbahi/ngx-avatar/pull/113#issuecomment-740349327). My opinion on things di

[2021-02-01 10:08] Heatmanofurioso commented on #121
I don't see myself having much time to be a main contributor, but I could easily also take part in helping maintain the library.

I think the library has some decent potential to be kept alive, and the biggest issue in forking it would probably be bringing attention to the forked version. "That, and  I'd like to avoid it as much as possible, since I am a strong supporter of not trying to take owne

[2021-02-01 21:54] odahcam commented on #121
I would take ownership if needed, no problem. But I would just maintain the repsitory and probably wouldn't implement many things.

[2021-02-02 00:51] Heatmanofurioso commented on #121
Sounds great @odahcam!
Anyway, I was able to reach HaithemMosbahi through other means "I believe I wasn't too invasive/bothersome". He said he'll try and get some time to help us out with this issue, so let's wait for a reply on his side once he has time for it :)

[2021-02-02 01:30] PowerKiKi commented on #121
If you can get a hold of HaithemMosbahi, I strongly suggest you ask for total control on this repository and the related npm registry (for one or both of you guys), or else fork the whole project. Anything else would be a waste of time for both parties.

[2021-02-25 19:43] mhosman commented on #121
Yeah, we need someone else to keep updating this repo. @HaithemMosbahi can you please give access to other people to improve this library? That would be great! Thanks!

[2021-03-02 10:42] rwdroge commented on #121
fingers crossed...

[2021-03-03 10:42] Heatmanofurioso commented on #121
Well. Apparently the owner hasn't had time to reach out to us and help us out with this after that initial talk.
Do you guys think it's worth trying to reach out to him again, or should we fork this with the correct reference?

As I said.. I'm not much in favour of "taking someone's work", but in the open-source spirit, I would like to maintain this project, and also to keep on using it
@odahcam @

[2021-03-03 12:53] PowerKiKi commented on #121
Fork right now, with the appropriate attribution, and be done with it. The MIT license allows you do pretty much anything you want. And it's been months that several people tried to establish a working collaboration, but it never happened, because the owner did not share enough accesses. Fork, rename, make a respectful announcement around here, and move the community to something that is maintaine

[2021-03-03 22:00] mhosman commented on #121
We can create a package **ngx-avatars** (plural) and that's it.

[2021-03-04 10:31] Heatmanofurioso commented on #121
Anyone opposes on me making a fork on that namespace and attempting to make the package on npm?
Or anyone else wishes to take it?

[2021-03-04 12:34] Heatmanofurioso commented on #121
Also... any suggestions for the name? 😆

[2021-03-04 14:42] mhosman commented on #121
Just put ngx-avatars and let's give access to at least two contributors to the package (I'm saying, just to speed up things). If you need help please let me know.

[2021-03-05 10:17] Heatmanofurioso commented on #121
The repo has been created at https://github.com/Heatmanofurioso/ngx-avatars
Please give a look on the PR guys

[2021-03-09 10:45] amitshinde110113 commented on #69
I am facing the same issue now,  but assign random string worked for me

[2021-03-09 11:52] Heatmanofurioso commented on #121
In case anyone is interested, the package is published and working at [ngx-avatars](https://www.npmjs.com/package/ngx-avatars)

[2021-03-09 14:09] mhosman commented on #121
Maybe we could put a note in the README in this repo, telling that is deprecated and the project will continue as ngx-avatars.

[2021-03-10 15:05] Heatmanofurioso commented on #121
@odahcam If you agree, could you see to it?

[2021-04-05 13:24] HaithemMosbahi commented on #121
Hello guys,

Sorry for not being active for a long period.

I just published a new version with the changes that you merged over the last months.

Who would be interested in being added to the npm package maintainers list, that way I don't block the release of new versions when I am not available.

[2021-04-05 14:27] Heatmanofurioso commented on #121
Hi Haithem.
I'd like to be added.
If we feel like we can maintain this project, I'd much rather do that than have a clone.

I'll gladly deprecate that child project if we can keep this one up :)

[2021-04-05 15:04] HaithemMosbahi commented on #121
Great!
Could you share with me your npm user name ? I will send you an invite

Thank you for your help

[2021-04-05 15:07] mhosman commented on #121
@PowerKiKi Can you please also share your npm user? It could be great to have at least 2 users in addition to @HaithemMosbahi

[2021-04-06 00:08] PowerKiKi commented on #121
I am https://www.npmjs.com/~powerkiki. You should definitely add https://www.npmjs.com/~odahcam who has been helping here even longer than me, and https://www.npmjs.com/~heatmanofurioso who owns the new fork.

[2021-04-06 07:26] HaithemMosbahi commented on #121
Sounds good!  I will add you as maintainers.
Thanks a lot for your help and contributions

[2021-04-06 07:36] HaithemMosbahi commented on #121
@PowerKiKi @odahcam @Heatmanofurioso I just added you as maintainers to the npm package. You should have received an invite by now.

[2021-04-06 08:11] PowerKiKi commented on #121
I can confirm I have access, though somehow it is not visible publicly, probably some stale cache:

![image](https://user-images.githubusercontent.com/72603/113679770-19dfff00-96fb-11eb-9930-d9de3d8ba530.png)

[2021-04-06 10:47] Heatmanofurioso commented on #121
Same here. Although I'm not sure if you show up as a collaborator only once you effectively collaborate "do a publish".
But that doesn't matter.

Thank you for your time and attention @HaithemMosbahi

I'm gonna do a PR taking Angular 11.2.x in consideration here "once I have time", and once we can support the latest version, I'm going to deprecate my forked project, and point it back here

[2021-04-07 04:46] odahcam commented on #121
@HaithemMosbahi is there a way you can give us permissions to change the secrets of this repository? That would allow us to configure GitHub Actions to test and auto-release the master branch!

---

Edit: I forgot to thank you @HaithemMosbahi for giving us that privilege, thanks!

[2021-04-07 04:48] PowerKiKi commented on #121
I recommend creating a GitHub org, transfer ownership of this repository to that org, and then increase access privilege (to admin) for some of us.

[2021-05-03 11:18] Heatmanofurioso commented on #116
This issue can be closed, as the support has been added

[2021-05-19 23:35] mhosman opened #125 "Update to Angular 12"
[code]

[2021-07-12 03:10] mhosman commented on #125
Any update?

[2021-07-23 09:21] g-max commented on #125
@mhosman i'm waiting for update from developers too, but what i've noticed is that 4.1.0 works fine with ng12, so we decided to do npm install --force and just wait for ngx-avatar to be updated

[2021-07-27 14:14] jonetapian commented on #73
no solution yet ? having the same problem here

[2021-08-12 22:04] dillonledoux commented on #125
Is there any update on this or something that can be contributed to to help it along?

[2021-08-31 02:29] udhayakumarcp opened #132 "avatar is not rendering when Cypress E2E testing"

[2021-09-01 20:53] mhosman commented on #125
We are gonna hit Angular 13 in the next days and this is still stucked in version 11. Any news? I don't know if @PowerKiKi @Heatmanofurioso have access. Thanks!

[2021-09-02 09:38] PowerKiKi commented on #125
I gave up on this project, and I am now using my own fork (very simplified and part of a larger library that I would not recommend to use by external people).

I can confirm, from npm settings, that odahcam, hmosbahi and heatmanofurioso all have write access. Even though this project is relatively low maintenance, it seems that it is having a hard time to find regular contributors. Maybe adding on

[2021-09-02 14:17] Heatmanofurioso commented on #125
I did not get write permissions, I can't merge the PRs. Still, I believe only HaithemMosbahi can publish to npm even if we are given write permissions

I did make a fork of this project due to it being inactive a while ago if you guys recall it.. I would much prefer to contribute on this one than to work on my forked version though.

That being said, I am going to work on it and recommend it if no

[2021-09-02 14:22] mhosman commented on #125
Thank you very much for the reply @Heatmanofurioso
If @HaithemMosbahi does not give the write permissions I think it is best to make a definitive fork since we have no answers. In case these permissions are not given, it is best to create a new fork with permissions to two or three people and in case someone cannot update the code, another could.

[2021-09-02 14:44] Heatmanofurioso commented on #125
There's no need to make a new one I believe @mhosman
I am more than willing to give all necessary permissions to a couple of people on my fork.
It's already published on npm under `ngx-avatars`

That fork was made explicitly with the intention of it being a continuation of `ngx-avatar`, since it couldn't be actively maintained

Edit:
I will also make an effort to ensure I make a release every mino

[2021-09-02 15:38] PowerKiKi commented on #125
I've said it before, but the sooner there is an "official" fork, the better. We've been trying for years now. It's time to move on. To another repo. @Heatmanofurioso's one looks like the obvious choice.

[2021-09-02 15:43] HaithemMosbahi commented on #125
Hello,
I thought that I gave all the needed access ( GitHub and npm ) to build and publish the library. If I remember correctly 3 people were added as maintainers.
I didn’t follow the last discussion, is there anything I can help with in regards to permission ?

[2021-09-02 15:49] Heatmanofurioso commented on #125
Hi @HaithemMosbahi Thanks for replying! For some reason, I seem to not have permissions to merge PRs.

Could you give it a look so we can update the project to support V12 and so on here on Github please?

[2021-09-04 04:08] mhosman commented on #125
@HaithemMosbahi I think @Heatmanofurioso has no access to merge PR's. Thats the issue

[2021-09-05 09:46] Heatmanofurioso commented on #125
Hi @HaithemMosbahi. Sorry to bother, but a few days have passed. Could you please give a look into it?

[2021-09-17 03:14] neryortez commented on #125
Soooo..... No answer?

[2021-09-17 07:46] Heatmanofurioso commented on #125
Until we can actually update this project consistently.. I have kept my fork up to date, and intend to keep doing so in case anyone is interested in it.

It is in the npm registry also

[2021-10-08 10:04] zakofpl opened #135 "Getting CORS block trying to access Instagram"
Issue appears both from localhost and from production.

![image](https://user-images.githubusercontent.com/49570133/136537972-0cfff243-7487-470d-9691-004faeefedbd.png)

[2021-10-18 17:35] DanielMaceira opened #136 "Is there a way to get a on load event from image src?"
Hi!

I need to intercept the image loaded from src attribute.
Is there a way to use onload event?

I want to know if the image was successfull loaded or get exif data from images, for example.

Thank you!

[2021-10-26 17:50] Heatmanofurioso commented on #125
Angular 13 is a week away from launching and the project still doesn't support 12.

[2021-10-26 21:08] mhosman commented on #125
@HaithemMosbahi please can you give the permissions to @Heatmanofurioso to merge PR's? Thanks!

[2021-10-28 05:23] #132 closed, assigned to nobody

[2021-10-28 12:54] OlexandrPopov opened #137 "What is the purpose of the placeholder input?"

[2021-10-31 17:40] Lyro1 commented on #125
I usually use this component for most of my angular projects. The lack of support of Angular 12 is really disappointing, even more so with the work being already done by @Heatmanofurioso... Please @HaithemMosbahi give him the permissions to merge PR's.

[2021-11-03 16:16] Heatmanofurioso commented on #137
Currently, it seems to be an unimplemented functionality.
The idea seems to be a placeholder for when the resource hasn't been loaded yet

[2021-11-03 16:20] Heatmanofurioso commented on #136
It seems you can use the `AvatarService` to check if a source was successfully loaded.

Apart from that, there seems to be no way implemented of intercepting the event.

[2021-11-03 16:21] Heatmanofurioso commented on #135
This seems to be an issue between your app and Instagram.
You should check Instagram's CORS policy

[2021-11-03 16:26] Heatmanofurioso commented on #116
@rolfback Can you close the issue since Haithem doesn't seem to be active in the repo anymore, please?

[2021-11-03 16:28] Heatmanofurioso commented on #121
This convo seems to be addressed on #125
Therefore, I'm closing this issue so we can approach the whole discussion there

[2021-11-03 16:28] #121 closed

[2021-11-08 16:28] Heatmanofurioso commented on #137
Could you close the issue if you're okay with this response? @OlexandrPopov

[2021-11-08 16:33] #137 closed, assigned to nobody

[2021-12-19 14:44] bhalperin commented on #125
Is it a dead end?
@HaithemMosbahi can you please update?

[2021-12-19 17:20] Heatmanofurioso commented on #125
@bhalperin For now, while Haithem doesn't update the project, you can use my fork.
It's being maintained and updated regularly when new Angular versions come out

[2021-12-19 17:21] PowerKiKi commented on #125
At this point, the whole community should migrate to https://github.com/Heatmanofurioso/ngx-avatars.

[2022-01-03 21:47] codingsamuel commented on #125
There is already a pr for Angular 13. Is there any update on this? https://github.com/HaithemMosbahi/ngx-avatar/pull/138

[2022-01-03 22:00] PowerKiKi commented on #125
@codingsamuel don't wait for anything from this project, and just move to https://github.com/Heatmanofurioso/ngx-avatars

[2022-01-17 19:40] sujeetjaiswara commented on #125
When angular 13 support coming ?

[2022-01-17 22:17] Heatmanofurioso commented on #125
It unfortunately probably isn't coming @sujeetjaiswara
Read this convo, as we've made a fork/alternative
https://github.com/Heatmanofurioso/ngx-avatars

[2022-01-21 14:53] sujeetjaiswara commented on #125
Okay, Thanks @Heatmanofurioso 😀

[2022-03-04 20:52] kewalpasad opened #148 "Is there any way for Dynamic font sizing"
Hi, I am have set my avatar size to 100 and a few of the text is overflowing the space. So is there any way to dynamically change the fontsize so that text can accommodate itself inside the avatar container without using textSizeRatio to some set character?

[2022-03-22 06:36] alexciesielski opened #149 "403 when fetching avatar from Google (googleusercontent.com)"
Hey,

sporadically I am getting 403 errors when fetching avatars from Google.

The solution is to add a `referrerpolicy` to the img tag.

https://stackoverflow.com/questions/40570117/http403-forbidden-error-when-trying-to-load-img-src-with-google-profile-pic/61042200#61042200

https://community.auth0.com/t/google-account-picture-request-forbidden/42031/15

Any possibility to give us the ability to

[2022-05-19 15:24] vzakharov-rxnt commented on #125
What was the issue? I'm using it with Angular 13, no problem.

[2022-05-23 10:58] Heatmanofurioso commented on #148
Hi @kewalpasad It seems like the project has been abandoned.
We have forked and are maintaining a newer version of it in https://github.com/Heatmanofurioso/ngx-avatars

[2022-09-24 09:49] RafalSkorka opened #156 "Add option to specify default value for Gravatar"
Hello,

Currently, when requesting for a Gravatar image, it always defaults to 404 response from the API. However, this doesn't look good when inspecting the Network dev tools and looking for failures. It would be excellent if there was an option to specify a value for the "default" (or "d") parameter for Gravatar as described here: http://en.gravatar.com/site/implement/images/  There are number o

[2022-10-11 11:57] eXpertise7 opened #157 "Processing legacy "View Engine" library - Angular 14 copile-time warning for ngx-avatar"
Hi guys,

I've warning on my Angular 14 project about ngx-avatar. Compiler tells me that ngx-avatar is still on View Engine library, not on Angular Ivy.

Could you publish an Ivy distribution?

Kind regards,
Robert Medved